html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
img,
q,
b,
u,
i,
ul,
li,
article,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}
