@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");

.contact_wrap {
  color: white;
  height: 100%;
}

.contact_inner {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.contact_inner > div {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact_inner > h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 3em;
  margin-bottom: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.img_wrap {
  width: 400px;
  height: 400px;
  border: 1px solid white;
  animation: imgcircle 1s forwards;
}

@keyframes imgcircle {
  from {
    border-radius: 30px;
  }
  to {
    border-radius: 50%;
  }
}

.text_wrap {
  display: inline-block;
  margin-left: 30px;
  text-align: start;
  transform: translateY(10%);
}

.text_wrap h2 {
  color: rgb(88, 101, 242);
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 50px;
}

.text_wrap p {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
  color: #c9c8c8;
}

.text_wrap ul li {
  margin-bottom: 20px;
  transition: 0.3s;
}

.text_wrap ul li:hover {
  color: #faa10e;
  transform: scaleY(1.02) translateY(-3px);
}

.text_wrap span {
  display: inline-block;
  margin-right: 7px;
  transform: translateY(4px);
}

.text_wrap span img {
  width: 18px;
  height: 18px;
  padding-top: 2.5px;
}

/*다크 모드*/

.dark {
  background-color: #2d354a;
}
