@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.loading_wrap {
  width: 100%;
  height: 100%;
  background-color: #14141a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif_wrap {
  border-radius: 50%;
  overflow: hidden;
}

.gif_wrap > img {
  width: 200px;
}

.text_wrap {
  display: flex;
  transform: translateX(20px);
}

h1 {
  color: white;
  font-size: 3em;
  font-family: "Roboto Condensed", sans-serif;
}

.dott_wrap {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
  transform: translateY(5px);
}

.dott_wrap li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.dott1 {
  animation: dott1 1.5s infinite;
}

@keyframes dott1 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.dott2 {
  animation: dott2 1.5s infinite;
}

@keyframes dott2 {
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.dott3 {
  animation: dott3 1.5s infinite;
}

@keyframes dott3 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
