/*category components*/

.category_wrap {
  display: inline-block;
  background-color: #2b2d31;
  color: #abb3bd;
  width: 12%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 20px;
  z-index: 1;
}

.category_wrap::before {
  content: "";
  display: block;
  width: 50px;
  height: 20px;
  background-color: #1e1f22;
  z-index: -1;
  position: absolute;
}

.category_wrap li {
  cursor: pointer;
}

.title {
  height: 5%;
  border-top-left-radius: 15px;
  background-color: #2b2d31;
  border-bottom: 1px solid #1e1f22;
}

.title_inner {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  /* transform: translateY(8px); */
}

.title_inner img {
  width: 15px;
  margin-left: 3px;
}

.title_inner p {
  white-space: nowrap;
  margin-left: 5px;
}

.title_inner span {
  margin-left: 55px;
  font-size: 1.3em;
  margin-top: 4px;
}

.link_wrap {
  height: 8%;
}

.link_wrap > div,
.menu_wrap > div {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.link_wrap > div p,
.menu_wrap > div p {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.5em;
  margin-top: 10px;
}

.link_wrap ul {
  width: 95%;
  margin: auto;
}

.link_wrap ul li {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: 0.2s;
  padding: 5px;
}

.menu_wrap_inner {
  padding: 0px;
}

.link_wrap ul > li:hover,
.menu_wrap_inner > li:hover {
  background-color: #404249;
  color: white;
}

.link_wrap ul li div {
  margin-right: 20px;
}

.menu_wrap {
  position: relative;
  height: 87%;
}

.menu_wrap ul {
  width: 95%;
  margin: auto;
}

.menu_wrap_inner li {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 7px;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 10px;
}

.menu_wrap_inner li > div {
  position: relative;
}

.menu_wrap_inner li:first-child .circle {
  background-color: #23a55a;
}

.link_wrap ul > li:hover .circle,
.menu_wrap_inner > li:hover .circle {
  border: 4px solid #404249;
}

.menu_wrap_inner li div img {
  width: 100%;
  height: 100%;
}

.circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #757982;
  border: 4px solid #2b2d31;
  position: absolute;
  top: -5px;
  left: -3px;
}

.user {
  background-color: #1e1f22;
  color: white;
  position: absolute;
  bottom: 0px;
  left: -3px;
  width: 101%;
  height: 8%;
}

.user > div {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.user .hidden {
  background-color: #faa10e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user p {
  color: white;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.user .circle {
  background-color: #23a55a;
  position: absolute;
  top: 3px;
  left: 5px;
}

.text_wrap {
  margin-left: 10px;
}

.text_wrap span {
  font-weight: 600;
  font-size: 0.8em;
  display: block;
  margin-top: 2px;
  letter-spacing: 1px;
}

.text_wrap small {
  font-size: 0.7em;
  color: rgb(145, 142, 142);
  transform: translateY(3px);
}

/*다크모드*/

.dark {
  background-color: #18253d;
}

.dark .link_wrap ul > li:hover,
.dark .menu_wrap_inner > li:hover {
  background-color: #4f576b;
  color: white;
}

.dark .link_wrap ul > li:hover .circle,
.dark .menu_wrap_inner > li:hover .circle {
  border: 4px solid #4f576b;
}

.dark .circle {
  background-color: gray;
  border: 4px solid #18253d;
}

.dark .user {
  background-color: #131926;
}

.dark .title {
  background-color: #18253d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dark::before {
  background-color: #131926;
}
