.side_tab {
  width: 5%;
  height: 100%;
  text-align: center;
  background-color: #1e1f22;
}

.side_tab ul {
  margin: 10px auto;
  padding: 0;
  display: inline-block;
  width: 90%;
  text-align: center;
  position: relative;
}

.side_tab ul li,
.fixedStyle ul li {
  position: relative;
  margin: 0px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.side_tab li > article,
.fixedStyle li > nav,
.icon {
  width: 70px;
  height: 70px;
  transition: 0.2s;
}

.fixedStyle > nav div {
  width: 70px;
  height: 70px;
}

.side_tab li:not(.first) > article,
.icon {
  background-color: #2d2e33;
}

li:not(.first) > nav {
  background-color: #23a459;
}

.first > article {
  background-color: #2d2e33;
  border-radius: 20px;
}

.first > nav {
  border-radius: 50%;
  background-color: #5865f2;
}

.first > article:hover {
  border-radius: 50%;
}

.side_tab li:not(.first) > article {
  border-radius: 50%;
  color: white;
}

.icon {
  border-radius: 50%;
  color: #23a459;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

.icon:hover {
  color: white;
}

.fixedStyle > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_tab li:not(.first) > nav {
  border-radius: 20px;
}

.side_tab li:not(.first) article img,
.side_tab .fixedStyle:not(.first) nav img {
  width: 35px;
  height: 35px;
}

.first article img,
.first nav img {
  width: 50px;
  height: 40px;
}

.line {
  width: 50px;
  height: 1px;
  position: absolute;
  top: 80px;
  left: calc(50% - 25px);
  background-color: #404249;
}

.side_tab li:not(.first) article:hover,
.icon:hover {
  background-color: #23a459;
  border-radius: 20px;
}

.side_tab .first article:hover {
  background-color: #5865f2;
}

/*하얀색 박스*/
.side_tab li span {
  display: block;
  width: 0px;
  height: 5px;
  border-left: 5px solid white;
  border-top: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: scaleY(1);
  position: absolute;
  left: -15px;
  top: 40%;
  opacity: 0;
  transition: 0.5s;
}

.fixedStyle section {
  display: block;
  width: 0px;
  height: 5px;
  border-left: 5px solid white;
  border-top: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  left: -15px;
  top: 40%;
  transform: scale(2.3, 8);
}

.fixedStyle nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_tab li:hover span {
  opacity: 1;
  transform: scale(2.3, 8);
}

.side_tab li > p {
  color: white;
  position: absolute;
  padding: 7px;
  border-radius: 15px;
  left: 100%;
  z-index: 2;
  background-color: #5865f2;
  font-size: 1em;
  top: 15px;
  transition: 0.5s;
  opacity: 0;
  transform: scale(0.5);
}

.side_tab li:hover p {
  opacity: 1;
  transform: scale(1);
}

/*다크모드*/

.dark {
  background-color: #131926;
}

.dark li:not(.first) article li {
  background-color: #303757;
  border-radius: 50%;
  transition: 0.2s;
}

.dark li:not(.first) article li:hover {
  background-color: #23a459;
  border-radius: 20px;
}

.dark .first article li {
  background-color: #303757;
  border-radius: 20px;
  transition: 0.2s;
}
.dark .first article li:hover {
  background-color: #5865f2;
  border-radius: 50%;
}

/*아이콘*/
.dark li > div {
  background-color: #303757;
  border: 1px oslid red;
}
