/*SideTab components*/

.side_tab {
  background-color: #1e1f22;
  height: 100%;
  width: 5%;
  display: inline-block;
}

.side_tab ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  align-items: center;
}

.side_tab ul li {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  text-align: center;
  line-height: 50px;
  list-style: none;
  cursor: pointer;
}

.first {
  border-radius: 20px;
  font-size: larger;
  transition: 0.5s;
}

.first:hover {
  border-radius: 50%;
  font-size: x-large;
}

.circle {
  border-radius: 50%;
  margin-top: 20px;
  transition: 0.5s;
}

.circle:hover {
  border-radius: 20px;
}

.circle img {
  transition: 0.5s;
}

.circle:hover img {
  transform: scale(1.2);
}

.side_tab ul li:nth-child(6),
.side_tab ul li:nth-child(7) {
  color: #23a459;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus_icon {
  text-align: center;
  line-height: 50px;
}
