@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Khand:wght@300;400;500;600;700&display=swap");

/* font-family: "Kanit", sans-serif; */
/* font-family: 'Khand', sans-serif */

.wrap {
  background-color: #313338;
  width: 100%;
  height: 100%;
  font-family: "Kanit", sans-serif;
}

.top {
  width: 100%;
  height: 96%;
  display: flex;
}

.main {
  display: flex;
  width: 95%;
  height: 100%;
  border-top-left-radius: 20px;
}

.outlet {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 100%;
}
