.back_wrap {
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.back_wrap p {
  display: inline-block;
  vertical-align: text-top;
}

.back_wrap:active {
  color: #c9c8c8;
}
